#chat-form {
		.send-confirmation {
				position: absolute;
				display: flex;
				width: 100%;
				padding: 10px 25% 10px;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: flex-start;
				column-gap: 10px;
				z-index: 100;
				height: 100%; // Make chat box and dice tray underneath unclickable

				span {
						width: 100%;
						display: block;
						text-align: center;
				}

				input {
						margin-top: 10px;
						margin-right: auto;
						margin-left: auto;
						font-family: var(--font-primary), sans-serif;
						border-radius: 10%;
				}

				~ #chat-message {
						opacity: 0.3;
				}
		}
}